#dumy{
    height: 5vh;
    background :var(--background);
}
#about{
    border: 1px solid rgba(27, 29, 39, .97);
    height: 40vh;
    background-color: var(--background-color2);
    color: var(--color);
}
#about p{
    font-size: 2em;
    margin-top: 5%;
    text-align: center;
}
#about img{
    height: 25px;
    margin-top: 4%;
    position: absolute;
    left: 45%;
}
#about button{
    height: 50px;
    width: 220px;
    background-color: #1767ad;
    color: var(--color);
    margin-top: 3%;
    margin-left: 42%;
    border: none;
    letter-spacing: 0.2em;
    font-weight: 600;
    padding-left: 5%;
}
#foot{
    color: var(--color);
    border: 2px solid #070f1d;
    height: 102vh;
    background: #070f1d;
}
#foot>p{
    margin: 3% 0 0 5%;
    letter-spacing:0.1em;
}
hr{
    margin-top: 2%;
    color: rgb(40, 40, 40);
    position: relative;
}
.fl{
    color: gray;
    font-size: 12px;
}
#foot ul{
    position: absolute;
    left: 12%;
    top: 258.5em;
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
#foot ul li img{
    height: 20px ;
}
.f1 img{
    height: 200px;
    width: 100%;
    margin-top: 5%;
    opacity: 0.5;
}
.fp2{
    font-size: 2.5em;
    position: absolute;
    top: 105em;
    left: 63%;
    right: 1%;
}
#foot h5{
    text-transform: uppercase;
    letter-spacing: 0.3em;
    position: absolute;
    font-size: 11px;
    left: 70%;
    top: 398em;
}
#foot1{
    margin-top: 5%;
    height: 130px;
    margin-left: 30%;
}
#foot1 ol{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    line-height: 2em;
    font-size: 12px;
    color: rgb(164, 164, 164);
}
#foot1>ol+ol{
    position: absolute;
    left: 58%;
}
#foot1>ol+ol+ol{
    position: absolute;
    left: 83%;
}
#foot1>img{
    height: 50px;
    position: absolute;
    left: 5%;
}
